{% extends 'partials/layout.twig' %}
{% block conten %}
    <div class="page-header text-center">
        <h2>¿Quieres borrar el siguente registro?</h2>
    </div>

    <form action="{{ 'mantenimiento/usuarios/eliminaru'|url }}" method="post">
        <input type="hidden" value="{{ model.id }}" name="id">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre</label>
                    <input disabled value="{{ model.nombre }}" type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input disabled value="{{ model.apaterno }}" type="text" name="apaterno" class="form-control" placeholder="Ingrese su apellido paterno">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Apellido Materno</label>
                    <input disabled value="{{ model.amaterno }}" type="text" name="amaterno" class="form-control" placeholder="Ingrese su apellido materno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input disabled value="{{ model.correo }}" type="email" name="correo" class="form-control" placeholder="Ingrese el correo electronico">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Rol</label>
                    <select disabled name="rol_id" id="" class="form-control">
                        {% for rol in roles %}
                            <option disabled {% if rol.id == model.rol_id %} selected {% endif %} value="{{ rol.id }}">{{ rol.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-right">
                <a href="{{ 'mantenimiento/usuarios/'|url }}" class="btn btn-default">
                    Cancelar
                </a>
                <button data-ajax="true" class="btn btn-danger" type="submit">
                    Eliminar
                </button>
                {#<button onClick="return confirm('Esta seguro que desea eliminar al usuario?')" class="btn btn-danger" type="submit">#}
                    {#Eliminar#}
                {#</button>#}
            </div>
        </div>


    </form>

{% endblock %}